:root {
  --primary-font: "Libre Franklin", sans-serif;
  --secondary-font: "Orbitron", sans-serif;
  --primary-color: rgb(14, 154, 167);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
button{
  cursor: pointer;
  transition: all 0.4s!important;
}
button:hover{
  background-color: white!important;
  color: var(--primary-color)!important;
}
button:disabled{
  background-color: rgb(211, 206, 206)!important;
  color: var(--primary-color)!important;
  cursor: not-allowed;
}
